**/.mypy*
**/__pycache__
**/venv
**/*.egg-info/
**/.eggs/
**/build/
**/dist/
**/temp/

**/.vscode
**/.DS_Store

# Rust
**/target
**/Cargo.lock

# vim swap files
*.sw?

*.whl
*.so
*.bin

#coverage
lcov.info
*.profdata
coverage/*

#bench
flamegraph.svg
