/target*
/temp
/keys
/crs
/tls
.vscode/launch.json
.DS_Store
.vscode/
.idea/
*.eif
.crates.toml
.crates2.json
*terraform.lock.hcl
*terraform.tfstate
*tool-versions
.last_height
.wallet
.cargo/advisory-db
.cargo/advisory-db..lock
.pre-commit-config.yaml
kms-core.sublime-project
kms-core.sublime-workspace
kms.sublime-project
kms.sublime-workspace
/artifacts
**/logs/*.log.*
.idea/
*.orig
**/tests/data
/core-client/artifacts
*.tgz
