{
  "tagFormat": "v${version}",
  "branches": [
      "main",
  ],
  "verifyConditions": ["@semantic-release/github"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# KMS Changelog"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md"]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "CHANGELOG.md"
          }
        ]
      }
    ]
]}
