# See default_1.toml for the documentation.

mock_enclave = true

[service]
listen_address = "0.0.0.0"
listen_port = 50100
timeout_secs = 360
grpc_max_message_size = 104857600 # 100 MiB
http2_keep_alive_interval_secs = 30
http2_keep_alive_timeout_secs = 10
tcp_keep_alive_secs = 30

[aws]
region = "us-east-1"
s3_endpoint = "http://dev-s3-mock:9000"

[public_vault]
storage_cache_size = 1000

[public_vault.storage.s3]
bucket = "kms"

[private_vault.storage.s3]
bucket = "kms"

[backup_vault]
[backup_vault.storage.file]
path = "./backup_vault"

[threshold]
listen_address = "0.0.0.0"
listen_port = 50001

my_id = 1

threshold = 1
dec_capacity = 10000
min_dec_cache = 6000
num_sessions_preproc = 2

decryption_mode = "NoiseFloodSmall"

[[threshold.tls.full_auto.trusted_releases]]
pcr0 = "000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
pcr1 = "000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
pcr2 = "000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"

[[threshold.peers]]
party_id = 1
address = "abcd.dev-kms-core-1.com"
mpc_identity = "dev-kms-core-1.com"
port = 50001
tls_cert.path = "certs/cert_dev-kms-core-1.com.pem"

[[threshold.peers]]
party_id = 2
address = "abcd.dev-kms-core-2.com"
mpc_identity = "dev-kms-core-2.com"
port = 50002
tls_cert.path = "certs/cert_dev-kms-core-2.com.pem"

[[threshold.peers]]
party_id = 3
address = "abcd.dev-kms-core-3.com"
mpc_identity = "dev-kms-core-3.com"
port = 50003
tls_cert.path = "certs/cert_dev-kms-core-3.com.pem"

[[threshold.peers]]
party_id = 4
address = "abcd.dev-kms-core-4.com"
mpc_identity = "dev-kms-core-4.com"
port = 50004
tls_cert.path = "certs/cert_dev-kms-core-4.com.pem"

[threshold.core_to_core_net]
message_limit = 70
multiplier = 2.0
max_interval = 60
initial_interval_ms = 100
max_elapsed_time = 300
network_timeout = 20
network_timeout_bk = 300
network_timeout_bk_sns = 1200
max_en_decode_message_size = 2147483648
session_update_interval_secs = 60
session_cleanup_interval_secs = 3600
discard_inactive_sessions_interval = 900
max_waiting_time_for_message_queue = 60
max_opened_inactive_sessions_per_party = 100
http2_keep_alive_interval_secs = 30
http2_keep_alive_timeout_secs = 10
tcp_keep_alive_secs = 30


# [threshold.preproc_redis]
# host = "redis://127.0.0.1"
#

[telemetry]
tracing_service_name = "kms-threshold-1"
# tracing_endpoint = "http://otelcol:4317"
tracing_otlp_timeout_ms = 10000
metrics_bind_address = "0.0.0.0:9646"
enable_sys_metrics = true

[telemetry.batch]
max_queue_size = 8192
max_export_batch_size = 2048
scheduled_delay_ms = 500


[rate_limiter_conf]
bucket_size = 50000
pub_decrypt = 1
user_decrypt = 1
crsgen = 100
preproc = 25000
keygen = 1000
reshare = 1
