# See default_1.toml for the documentation.

[service]
listen_address = "0.0.0.0"
listen_port = 50100
timeout_secs = 360
grpc_max_message_size = 104857600 # 100 MiB

[aws]
region = "us-east-1"
s3_endpoint = "http://dev-s3-mock:9000"

[public_vault]
storage = "s3://kms"
storage_cache_size = 1000

[private_vault]
storage = "file://./keys"

[threshold]
listen_address = "dev-kms-core-1"
listen_port = 50001

my_id = 1

threshold = 1
dec_capacity = 10000
min_dec_cache = 6000
num_sessions_preproc = 2

decryption_mode = "NoiseFloodSmall"

[threshold.tls]
cert.path = "certs/cert_dev-kms-core-1.pem"
key.path = "certs/key_dev-kms-core-1.pem"

[[threshold.peers]]
party_id = 1
address = "dev-kms-core-1"
port = 50001
tls_cert.path = "certs/cert_dev-kms-core-1.pem"

[[threshold.peers]]
party_id = 2
address = "dev-kms-core-2"
port = 50002
tls_cert.path = "certs/cert_dev-kms-core-2.pem"

[[threshold.peers]]
party_id = 3
address = "dev-kms-core-3"
port = 50003
tls_cert.path = "certs/cert_dev-kms-core-3.pem"

[[threshold.peers]]
party_id = 4
address = "dev-kms-core-4"
port = 50004
tls_cert.path = "certs/cert_dev-kms-core-4.pem"

[threshold.core_to_core_net]
message_limit = 70
multiplier = 1.1
max_interval = 5
max_elapsed_time = 300
network_timeout = 20
network_timeout_bk = 300
network_timeout_bk_sns = 1200
max_en_decode_message_size = 2147483648

# [threshold.preproc_redis]
# host = "redis://127.0.0.1"
#

[telemetry]
tracing_service_name = "kms-threshold-1"
# tracing_endpoint = "http://otelcol:4317"
tracing_otlp_timeout_ms = 10000
metrics_bind_address = "0.0.0.0:9646"

[telemetry.batch]
max_queue_size = 8192
max_export_batch_size = 2048
scheduled_delay_ms = 500


[rate_limiter_conf]
bucket_size = 50000
dec = 1
reenc = 1
crsgen = 100
preproc = 25000
keygen = 1000
