# See default_1.toml for the documentation.

[service]
listen_address = "0.0.0.0"
listen_port = 50200
timeout_secs = 360
grpc_max_message_size = 104857600 # 100 MiB

[aws]
region = "us-east-1"
s3_endpoint = "http://dev-s3-mock:9000"

[public_vault.storage.file]
path = "./keys"
prefix = "PUB-p2"

[private_vault.storage.file]
path = "./keys"
prefix = "PRIV-p2"

[backup_vault]
[backup_vault.storage.file]
path = "./backup_vault"
prefix = "BACKUP-p2"

[threshold]
listen_address = "0.0.0.0"
listen_port = 50002

my_id = 2

threshold = 1
dec_capacity = 10000
min_dec_cache = 6000
num_sessions_preproc = 2

decryption_mode = "NoiseFloodSmall"

[threshold.tls.manual]
cert.path = "certs/cert_p2.pem"
key.path = "certs/key_p2.pem"

[[threshold.peers]]
party_id = 1
address = "p1"
port = 50001
tls_cert.path = "certs/cert_p1.pem"

[[threshold.peers]]
party_id = 2
address = "p2"
port = 50002
tls_cert.path = "certs/cert_p2.pem"

[[threshold.peers]]
party_id = 3
address = "p3"
port = 50003
tls_cert.path = "certs/cert_p3.pem"

[[threshold.peers]]
party_id = 4
address = "p4"
port = 50004
tls_cert.path = "certs/cert_p4.pem"

[threshold.core_to_core_net]
message_limit = 70
multiplier = 2.0
max_interval = 60
initial_interval_ms = 100
max_elapsed_time = 300
network_timeout = 20
network_timeout_bk = 300
network_timeout_bk_sns = 1200
max_en_decode_message_size = 2147483648
session_update_interval_secs = 60
session_cleanup_interval_secs = 86400 # 1 day
discard_inactive_sessions_interval = 900 # 15 min
max_waiting_time_for_message_queue = 60
max_opened_inactive_sessions_per_party = 2000

# [threshold.preproc_redis]
# host = "redis://127.0.0.1"


[telemetry]
tracing_service_name = "kms-threshold-2"
# tracing_endpoint = "http://localhost:4317"
metrics_bind_address = "0.0.0.0:9646"
enable_sys_metrics = true

[telemetry.batch]
max_queue_size = 8192
max_export_batch_size = 2048
scheduled_delay_ms = 500

[rate_limiter_conf]
bucket_size = 50000
pub_decrypt = 1
user_decrypt = 1
crsgen = 100
preproc = 25000
keygen = 1000
reshare = 1
