kmsPeers:
  # Number of replicas managed by each statefulset
  count: 1

kmsCore:
  thresholdMode:
    enabled: true
    peersList: []
    tls:
      enabled: false
  nitroEnclave:
    enabled: false
  resources:
    requests:
      memory: 12Gi
      cpu: 4
    limits:
      memory: 24Gi
      ephemeralStorage: 10Gi
      grpcTimeout: 360
      grpcMaxMessageSize: 104857600
  publicVault:
    s3:
      enabled: true
      prefix:
  privateVault:
    s3:
      enabled: true
      prefix:
  storage:
    storageClassName: gp3
    capacity: 5Gi
  serviceMonitor:
    enabled: false
  nodeSelector:
    karpenter.sh/nodepool: kms-bench-spot-64
  tolerations:
    - key: karpenter.sh/nodepool
      effect: NoSchedule
      operator: Equal
      value: kms-bench-spot-64
