kmsCore:
  enabled: false
  envFrom:
    configmap:
      name: kms-ci-1
  thresholdMode:
    enabled: true
    initializationScript:
      enabled: true
    tls:
      enabled: false
    thresholdValue: 4 # 1 if 4 parties or 4 if 13 parties
    numSessionsPreproc: 72
    multiplier: 2.0
    maxInterval: 60
    initialIntervalMs: 100
    cleanupIntervalSecs: 2
    tokioWorkerThreads: 10
    rayonNumThreads: 40
    # peersList is generated dynamically by deploy.sh and should not be set here

kmsCoreClient:
  enabled: false
  image:
    name: ghcr.io/zama-ai/kms/core-client
    tag: <version>
  num_majority: 5 # 2 when 4 parties and 5 when 13 parties
  num_reconstruct: 9 # 3 when 4 parties and 9 when 13 parties
  decryption_mode: NoiseFloodSmall
  fhe_parameter: Default
  envFrom:
    configmap:
      name: kms-ci-1

kmsInit:
  enabled: false

kmsGenKeys:
  enabled: true
  keyGenArgs: "insecure-key-gen"
  crsGenArgs: "insecure-crs-gen --max-num-bits 2048"
  configmap:
    name: kms-keys
  resources:
    requests:
      memory: 16Gi
      cpu: 3
    limits:
      memory: 16Gi
      cpu: 3
  nodeSelector:
    karpenter.sh/nodepool: zws-pool
  tolerations:
    - key: karpenter.sh/nodepool
      effect: NoSchedule
      operator: Equal
      value: zws-pool

kmsGenCertAndKeys:
  enabled: false
