{{- if and .Values.kmsCore.thresholdMode.enabled .Values.kmsGenCertAndKeys.enabled -}}
{{- $kmsCoreName := include "kmsCoreName" . }}
{{- $kmsGenCertAndKeysName := include "kmsGenCertAndKeysJobName" . }}
{{- $peersIDList := untilStep (include "kmsPeersStartID" . | int) (.Values.kmsPeers.count | add1 | int) 1  }}
apiVersion: batch/v1
kind: Job
metadata:
  labels:
    app: kms-core
    app.kubernetes.io/name: {{ $kmsGenCertAndKeysName }}
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-1"
    "helm.sh/hook-delete-policy": hook-succeeded
  name: {{ $kmsGenCertAndKeysName }}
spec:
  template:
    metadata:
      labels:
        app: kms-core-gen-cert-and-keys
        app.kubernetes.io/name: {{ $kmsGenCertAndKeysName }}
    spec:
      serviceAccountName: {{ .Values.kmsCore.serviceAccountName }}
      securityContext:
        {{- if .Values.kmsCore.nitroEnclave.enabled }}
        {{- toYaml .Values.podSecurityContextForEnclave | nindent 8 }}
        {{- else }}
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
        {{- end }}
      restartPolicy: Never
      {{- if .Values.kmsCore.nitroEnclave.enabled }}
      initContainers:
        - image: {{ .Values.kubeUtils.image.name }}:{{ .Values.kubeUtils.image.tag }}
          imagePullPolicy: {{ .Values.kubeUtils.image.pullPolicy }}
          name: kms-core-init-load-env
          command:
            - /bin/sh
          args:
            - -c
            - |
              {{ include "kmsCoreInitEnvVars" . | indent 14 | trim }}
              envsubst < /var/lib/kms-core/config/kms-gen-keys.toml > kms-gen-keys.toml
              envsubst < /var/lib/kms-core/config/aws.toml >> kms-gen-keys.toml
              envsubst < /var/lib/kms-core/config/vaults.toml >> kms-gen-keys.toml
              echo "### BEGIN - kms-gen-keys.toml ###"
              cat kms-gen-keys.toml
              echo "### END - kms-gen-keys.toml ###"
          env:
            {{- if .Values.kmsPeers.id }}
            - name: KMS_CORE__THRESHOLD__MY_ID
              value: "{{ .Values.kmsPeers.id }}"
            {{- else }}
            - name: KMS_CORE__THRESHOLD__MY_ID
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.kmsCore.envFrom.configmap.name }}
                  key: {{ .Values.kmsCore.envFrom.configmap.key.thresholdId }}
            {{- end }}
            - name: NO_COLOR
              value: "true"
            - name: RUN_MODE
              value: {{ .Values.runMode }}
            - name: RUST_LOG
              value: {{ .Values.rustLog }}
            - name: KMS_CORE__PRIVATE_VAULT__STORAGE__S3__BUCKET
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.kmsCore.envFrom.configmap.name }}
                  key: {{ .Values.kmsCore.envFrom.configmap.key.privateVaultStorageBucket }}
            - name: KMS_CORE__PUBLIC_VAULT__STORAGE__S3__BUCKET
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.kmsCore.envFrom.configmap.name }}
                  key: {{ .Values.kmsCore.envFrom.configmap.key.publicVaultStorageBucket }}
            - name: KMS_CORE__PRIVATE_VAULT__KEYCHAIN__AWS_KMS__ROOT_KEY_SPEC
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.kmsCore.envFrom.configmap.name }}
                  key: {{ .Values.kmsCore.envFrom.configmap.key.privateVaultKeychainAWSKMSRootKeySpec }}
            - name: KMS_CORE__PRIVATE_VAULT__KEYCHAIN__AWS_KMS__ROOT_KEY_ID
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.kmsCore.envFrom.configmap.name }}
                  key: {{ .Values.kmsCore.envFrom.configmap.key.privateVaultKeychainAWSKMSRootKeyID }}
          workingDir: {{ .Values.kmsCore.workdir }}
          volumeMounts:
            - mountPath: /var/lib/kms-core/config
              name: config-files
            - mountPath: {{ .Values.kmsCore.workdir }}
              name: workdir
        {{- /* Init Enclave Config Socket, hardcoded to 4000 in https://github.com/zama-ai/kms-core/blob/main/docker/core/service/init_enclave.sh */}}
        - {{ include "proxyFromEnclave"
               (dict "name" "enclave-config"
                     "image" .Values.kubeUtils.image
                     "vsockPort" 4000
                     "to" (printf "OPEN:kms-gen-keys.toml,rdonly")
                ) | indent 10 | trim }}
          workingDir: {{ .Values.kmsCore.workdir }}
          volumeMounts:
            - mountPath: {{ .Values.kmsCore.workdir }}
              name: workdir
        {{- /* Init Enclave Logger Socket, hardcoded to 3000 in https://github.com/zama-ai/kms-core/blob/main/docker/core/service/init_enclave.sh */}}
        - {{ include "proxyFromEnclave"
               (dict "name" "kms-core-enclave-logger"
                     "image" .Values.kubeUtils.image
                     "vsockPort" 3000
                     "to" "STDOUT"
               ) | indent 10 | trim }}
        {{- /* Init AWS IMDS Proxy Socket */}}
        - {{ include "proxyFromEnclaveTcp"
               (dict "name" "aws-imds-proxy"
                     "image" .Values.kubeUtils.image
                     "vsockPort" .Values.kmsCore.nitroEnclave.ports.imds
                     "address" "169.254.169.254"
                     "port" 80
                ) | indent 10 | trim }}
        {{- /* Init Enclave Web Identity Token Socket, hardcoded to 4100 in https://github.com/zama-ai/kms-core/blob/main/docker/core/service/init_enclave.sh */}}
        - {{ include "proxyFromEnclave"
               (dict "name" "enclave-web-identity-token"
                     "image" .Values.kubeUtils.image
                     "vsockPort" 4100
          "to" "OPEN:/var/run/secrets/eks.amazonaws.com/serviceaccount/token,rdonly"
          ) | indent 10 | trim }}
        {{- /* Init AWS STS Proxy Socket */}}
        - {{ include "proxyFromEnclaveTcp"
               (dict "name" "aws-sts-proxy"
                     "image" .Values.kubeUtils.image
                     "vsockPort" .Values.kmsCore.nitroEnclave.ports.sts
                     "address" (printf "sts.%s.amazonaws.com" .Values.kmsCore.aws.region)
                     "port" 443
                ) | indent 10 | trim }}
        {{- /* Init AWS S3 Proxy Socket */}}
        - {{ include "proxyFromEnclaveTcp"
               (dict "name" "aws-s3-proxy"
                     "image" .Values.kubeUtils.image
                     "vsockPort" .Values.kmsCore.nitroEnclave.ports.s3
                     "address" (printf "s3.%s.amazonaws.com" .Values.kmsCore.aws.region)
                     "port" 443
                ) | indent 10 | trim }}
        {{- /* Init AWS KMS Proxy Socket */}}
        - {{ include "proxyFromEnclaveTcp"
               (dict "name" "aws-kms-proxy"
                     "image" .Values.kubeUtils.image
                     "vsockPort" .Values.kmsCore.nitroEnclave.ports.awskms
                     "address" (printf "kms.%s.amazonaws.com" .Values.kmsCore.aws.region)
                     "port" 443
                ) | indent 10 | trim }}
      {{- end }}
      {{- /* initContainers section for non-enclave */}}
      {{- if not .Values.kmsCore.nitroEnclave.enabled }}
      initContainers:
        - image: {{ .Values.kmsCore.image.name }}:{{ .Values.kmsCore.image.tag }}
          imagePullPolicy: {{ .Values.kmsCore.image.pullPolicy }}
          name: kms-gen-tls-certs
          command:
            - /bin/sh
          args:
            - -c
            - |
              set -e
              echo "Generating TLS certificates for threshold parties..."
              
              # Build CA names from party pod names
              CA_NAMES=""
              {{- range $peersIDList }}
              {{- $partyPodName := printf "%s-%d" $kmsCoreName . }}
              CA_NAMES="${CA_NAMES} {{ $partyPodName }}"
              {{- end }}
              
              echo "CA Names: ${CA_NAMES}"
              
              # Generate certificates using kms-gen-tls-certs binary
              /app/kms/core/service/bin/kms-gen-tls-certs \
                --ca-names ${CA_NAMES} \
                --output-dir /tmp/certs \
                --wildcard
              
              echo "Certificates generated successfully"
              ls -la /tmp/certs/
          env:
            - name: NO_COLOR
              value: "true"
          volumeMounts:
            - mountPath: /tmp/certs
              name: certs
          resources:
            requests:
              memory: 256Mi
              cpu: 250m
            limits:
              memory: 512Mi
              cpu: 500m
      {{- end }}
      containers:
        {{- if .Values.kmsCore.nitroEnclave.enabled }}
        {{- /* Enclave: Run enclave container */}}
        - image: {{ .Values.kmsCore.image.name }}:{{ .Values.kmsCore.image.tag }}
          imagePullPolicy: {{ .Values.kmsCore.image.pullPolicy }}
          name: kms-core-enclave-gen-cert-and-keys
          command:
            - /bin/sh
          args:
            - -c
            - |
              echo "### BEGIN - enclave.json ###"
              cat /var/lib/kms-core/config/enclave.json
              echo "### END - enclave.json ###"
              echo "### BEGIN - describe-eif ###"
              nitro-cli describe-eif --eif-path {{ .Values.kmsCore.nitroEnclave.eifPath }}
              echo "### END - describe-eif ###"
              # enclave config vsock is hardcoded to 4000 in init_enclave.sh
              # it can't be a separate container
              # because we need to serve kms-gen-keys.toml on the same port later
              nitro-cli run-enclave --config /var/lib/kms-core/config/enclave.json
              sleep 60
          env:
            - name: "NO_COLOR"
              value: "true"
            - name: RUN_MODE
              value: {{ .Values.runMode }}
            - name: RUST_LOG
              value: {{ .Values.rustLog }}
          envFrom:
            - configMapRef:
                name: {{ .Values.kmsCore.envFrom.configmap.name }}
          workingDir: {{ .Values.kmsCore.workdir }}
          volumeMounts:
            - mountPath: {{ .Values.kmsCore.workdir }}
              name: workdir
            - mountPath: /var/lib/kms-core/config
              name: config-files
            - mountPath: /hugepages
              name: hugepage
            - name: nitro-device
              mountPath: /dev/nitro_enclaves
          ports:
            - containerPort: {{ .Values.kmsCore.ports.client }}
              protocol: TCP
            - containerPort: {{ .Values.kmsCore.ports.peer }}
              protocol: TCP
            - containerPort: {{ .Values.kmsCore.ports.metrics }}
              protocol: TCP
          resources:
            requests:
              memory: 2Gi
              aws.ec2.nitro/nitro_enclaves: "1"
              hugepages-1Gi: {{ .Values.kmsCore.nitroEnclave.memoryGiB }}Gi
            limits:
              ephemeral-storage: {{ .Values.kmsCore.resources.limits.ephemeralStorage }}
              memory: 4Gi
              aws.ec2.nitro/nitro_enclaves: "1"
              hugepages-1Gi: {{ .Values.kmsCore.nitroEnclave.memoryGiB }}Gi
        {{- else }}
        {{- /* Non-Enclave: Upload certs to S3 */}}
        - image: amazon/aws-cli:latest
          imagePullPolicy: IfNotPresent
          name: upload-certs-to-s3
          command:
            - /bin/sh
          args:
            - -c
            - |
              set -e
              echo "Uploading certificates to S3..."
              
              # Upload certificates and keys to S3
              {{- range $idx, $peerID := $peersIDList }}
              {{- $partyPodName := printf "%s-%d" $kmsCoreName $peerID }}
              
              # Upload certificate for party {{ $peerID }}
              aws s3 cp /tmp/certs/cert_{{ $partyPodName }}.pem \
                s3://${KMS_CORE__PUBLIC_VAULT__STORAGE__S3__BUCKET}/PUB-p{{ $peerID }}/CACert/cert.pem \
                --region {{ $.Values.kmsCore.aws.region }}
              echo "Uploaded certificate for party {{ $peerID }}"
              
              # Upload private key for party {{ $peerID }}
              aws s3 cp /tmp/certs/key_{{ $partyPodName }}.pem \
                s3://${KMS_CORE__PUBLIC_VAULT__STORAGE__S3__BUCKET}/PUB-p{{ $peerID }}/PrivateKey/key.pem \
                --region {{ $.Values.kmsCore.aws.region }}
              echo "Uploaded private key for party {{ $peerID }}"
              {{- end }}
              
              echo "All certificates uploaded successfully"
          env:
            - name: AWS_REGION
              value: {{ .Values.kmsCore.aws.region }}
            - name: KMS_CORE__PUBLIC_VAULT__STORAGE__S3__BUCKET
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.kmsCore.envFrom.configmap.name }}
                  key: {{ .Values.kmsCore.envFrom.configmap.key.publicVaultStorageBucket }}
          volumeMounts:
            - mountPath: /tmp/certs
              name: certs
              readOnly: true
          resources:
            requests:
              memory: 256Mi
              cpu: 250m
            limits:
              memory: 512Mi
              cpu: 500m
        {{- end }}
      imagePullSecrets:
        - name: registry-credentials
      {{- if .Values.kmsCore.nitroEnclave.enabled }}
      {{- if .Values.kmsCore.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.kmsCore.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.kmsCore.affinity }}
      affinity:
        {{- toYaml .Values.kmsCore.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.kmsCore.tolerations }}
      tolerations:
        {{- toYaml .Values.kmsCore.tolerations | nindent 8 }}
      {{- end }}
      {{- end }}
      volumes:
        {{- if .Values.kmsCore.nitroEnclave.enabled }}
        - name: keygen
          emptyDir: {}
        - name: workdir
          emptyDir: {}
        - name: config-files
          configMap:
            name: {{ include "kmsCoreName" . }}-config
            defaultMode: 0664
        - name: hugepage
          emptyDir:
            medium: HugePages
        - name: nitro-device
          hostPath:
            path: /dev/nitro_enclaves
            type: CharDevice
        {{- else }}
        - name: certs
          emptyDir: {}
        {{- end }}
{{- end -}}