[package]
name = "kms-grpc"
version.workspace = true
edition.workspace = true
publish.workspace = true
authors.workspace = true
license.workspace = true

[lib] # GRPC client and server for KMS
name = "kms_grpc"
path = "src/lib.rs"
crate-type = ["lib", "cdylib"]

[dependencies]
alloy-dyn-abi = { workspace = true }
alloy-primitives = { workspace = true, features = ["k256"] }
alloy-sol-types = { workspace = true, features = ["eip712-serde"] }
anyhow.workspace = true
cfg-if.workspace = true
hex.workspace = true
prost.workspace = true
rand = { workspace = true, features = ["std", "std_rng"] }
serde = { workspace = true, features = ["derive", "rc"] }
strum.workspace = true
strum_macros.workspace = true
thiserror.workspace = true
tonic = { workspace = true, optional = true }
tfhe = { workspace = true, features = [
    "boolean",
    "shortint",
    "integer",
    "zk-pok",
    "experimental-force_fft_algo_dif4",
] }
tfhe-versionable.workspace = true
threshold-fhe = { workspace = true, default-features = false, features = [
    "extension_degree_4",
] }
tracing = { workspace = true, features = ["log"] }
wasm-bindgen = { version = "=0.2.100", features = ["serde-serialize"] }

[dev-dependencies]
tracing-test = "=0.2.5"

[build-dependencies]
tonic-build.workspace = true

[package.metadata.cargo-machete]
ignored = ["prost", "wasm-bindgen"]

[features]
default = ["non-wasm"]
non-wasm = ["dep:tonic"]
insecure = []
