[package]
name = "backward-compatibility"
version = "0.11.0"
publish = false
authors = ["Zama"]
edition = "2021"
license = "BSD-3-Clause-Clear"

[dependencies]
# This is a list of kms-core versions we will generate data for. This list will grow over time.
# They are only activated when generating data, with the binary target and the "generate" feature.
kms_0_11 = { git = "https://github.com/zama-ai/kms.git", package = "kms", rev = "v0.11.0-22", optional = true }
kms_grpc_0_11 = { git = "https://github.com/zama-ai/kms.git", package = "kms-grpc", rev = "v0.11.0-22", optional = true }
threshold_fhe_0_11 = { git = "https://github.com/zama-ai/kms.git", package = "threshold-fhe", rev = "v0.11.0-22", optional = true, features = [
    "testing",
] }

# Dependencies for the 0.11 version
# Note: these dependencies should match the versions used by the KMS and distributed decryption
# modules as much as possible to avoid serialization differences
tfhe_versionable_0_6 = { package = "tfhe-versionable", version = "=0.6.0", optional = true }
tfhe_1_3 = { package = "tfhe", version = "=1.3.2", optional = true, features = [
    "shortint",
] }
alloy-sol-types-1_1_2 = { package = "alloy-sol-types", version = "=1.1.2", optional = true }
alloy-primitives-1_1_2 = { package = "alloy-primitives", version = "=1.1.2", optional = true }
serde = { version = "=1.0.219", features = ["derive"] }
strum = { version = "=0.27.1", features = ["derive"] }
semver = { version = "=1.0.26", optional = true }
ron = { version = "=0.10.1", features = ["integer128"] }
bincode = "=1.3.3"
aes-prng = "=0.2.1"
rand = "=0.8.5"
tokio = { version = "1.44.2", features = ["full"] }
cfg-if = "=1.0.1"

[[bin]]
name = "backward-compatibility"
required-features = ["generate"]

# Note: The `generate` feature should not be put by default to avoid dependency conflicts.
[features]
generate = [
    "dep:kms_0_11",
    "dep:kms_grpc_0_11",
    "dep:threshold_fhe_0_11",
    "dep:tfhe_versionable_0_6",
    "dep:tfhe_1_3",
    "dep:alloy-sol-types-1_1_2",
    "dep:alloy-primitives-1_1_2",
]
load = ["dep:semver"]
tests = []

[patch.crates-io]
rcgen = { git = 'https://github.com/mkmks/rcgen.git', branch = 'k256' }
