kmsPeers:
  # Number of replicas managed by each statefulset
  count: 1

kmsConnector:
  enabled: false

kmsCore:
  image:
    name: ghcr.io/zama-ai/kms/core-service-enclave
    tag: <version>
  thresholdMode:
    enabled: false
  envFrom:
    configmap:
      key:
        coreClientS3Endpoint: CORE_CLIENT__S3_ENDPOINT
        publicVaultStorageBucket: S3_BUCKET_NAME
  aws:
    region: eu-west-1
  storage:
    storageClassName: gp3
    capacity: 5Gi
  serviceMonitor:
    enabled: false
  resources:
    requests:
      memory: 96Gi
      cpu: 48
    limits:
      memory: 96Gi
      ephemeralStorage: 1Gi
      grpcTimeout: 360
      grpcMaxMessageSize: 104857600
  nodeSelector:
    karpenter.sh/nodepool: kms-bench-spot-64
  tolerations:
    - key: karpenter.sh/nodepool
      effect: NoSchedule
      operator: Equal
      value: kms-bench-spot-64

kmsCoreClient:
  enabled: true
  nameOverride: kms-core-client-centralized-ci
  image:
    name: ghcr.io/zama-ai/kms/core-client
    tag: <version>
  decryption_mode: NoiseFloodSmall
  fhe_parameter: Default
  resources:
    requests:
      memory: 24Gi
      cpu: 4
    limits:
      memory: 24Gi
      cpu: 4
  nodeSelector:
    karpenter.sh/nodepool: zws-pool
  tolerations:
    - key: karpenter.sh/nodepool
      effect: NoSchedule
      operator: Equal
      value: zws-pool


environment: dev

tracing:
  enabled: false
  endpoint: "http://otel-deployment-opentelemetry-collector.observability.svc.cluster.local:4317"
  metrics:
    enabled: false
    interval_sec: 20

socat:
  image:
    name: alpine/socat
    tag: latest

rustLog: info
kmsGenCertAndKeys:
  enabled: false
kmsCoreClientTesting:
  enabled: false
mtls:
  enabled: false
minio:
  enabled: false
