# Lint and check CI
name: ci_lint

on:
  pull_request:

concurrency:
  group: ci-lint-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

# Top-level permissions for workflow-level operations
permissions:
  # Required to checkout repository code
  contents: read
  # Required to read workflow run information
  actions: read

env:
  ACTIONLINT_VERSION: 1.6.27

jobs:
  lint-check:
    name: ci_lint/lint-check (bpr)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: actionlint
        uses: raven-actions/actionlint@01fce4f43a270a612932cb1c64d40505a029f821 # v2.0.0

      - name: Ensure SHA pinned actions
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@64418826697dcd77c93a8e4a1f7601a1942e57b5 # v3.0.18
        with:
          allowlist: |
            slsa-framework/slsa-github-generator

  sast-check:
    permissions:
      # Required to write security events for SAST results
      security-events: write
      # Required to read workflow run information
      actions: read
      # Required to checkout repository code
      contents: read
    name: ci_lint/sast-check (bpr)
    uses: zama-ai/ci-templates/.github/workflows/sast-zizmor.yml@7dafeba7efe0df52da9fb9dc0e8a84277a7dd34a
