name: common-nitro-enclave

on:
  workflow_call:
    secrets:
      BLOCKCHAIN_ACTIONS_TOKEN:
        required: true
      CGR_USERNAME:
        required: true
      CGR_PASSWORD:
        required: true
    inputs:
      ref:
        type: string
        required: false
        default: ''
      working-directory:
        type: string
        required: true
      docker-context:
        type: string
        required: false
        default: '.'
      image-name:
        type: string
        required: true
      image-enclave-name:
        type: string
        required: true
      push_image:
        type: boolean
        default: true
        required: false
      docker-file-enclave:
        type: string
        required: true
      cache-from:
        type: string
        required: false
        default: 'type=gha'
      cache-to:
        type: string
        required: false
        default: 'type=gha,mode=max'
    outputs:
      image_tag:
        description: 'Docker Tag generated by this task'
        value: '${{ jobs.determine-tag.outputs.docker_tag }}'
      enclave_pcr0:
        description: 'Enclave PCR0 generated by this task'
        value: '${{ jobs.build-and-push-enclave.outputs.enclave_pcr0 }}'
      enclave_pcr1:
        description: 'Enclave PCR1 generated by this task'
        value: '${{ jobs.build-and-push-enclave.outputs.enclave_pcr1 }}'
      enclave_pcr2:
        description: 'Enclave PCR2 generated by this task'
        value: '${{ jobs.build-and-push-enclave.outputs.enclave_pcr2 }}'

permissions: {}

jobs:
  determine-tag:
    permissions:
      actions: read # Required to read workflow run information
      contents: read # Required to checkout repository code
    name: common-nitro-enclave/determine-tag
    runs-on: ubuntu-latest
    outputs:
      docker_tag: ${{ steps.set-tag.outputs.tag }}
    steps:
      - name: Checkout Project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Set Docker Tag
        id: set-tag
        env:
          EVENT_NAME: ${{ github.event_name }}
          REF_NAME: ${{ github.ref_name }}
          COMMIT_HASH: ${{ github.event.pull_request.head.sha || github.sha }}
        run: |
          if [[ "${EVENT_NAME}" == "release" ]]; then
            echo "tag=${REF_NAME}" >> "$GITHUB_OUTPUT"
          elif [[ "${EVENT_NAME}" == "schedule" ]]; then
            echo "tag=nightly-$(git rev-parse --short "$COMMIT_HASH")" >> "$GITHUB_OUTPUT"
          else
            echo "tag=$(git rev-parse --short "$COMMIT_HASH")" >> "$GITHUB_OUTPUT"
          fi

  create-eif:
    permissions:
      actions: read # Required to read workflow run information
      contents: read # Required to checkout repository code
      packages: read # Required to pull docker images
    needs: determine-tag
    outputs:
      eif_pcr0: ${{ steps.eif.outputs.eif_pcr0 }}
      eif_pcr1: ${{ steps.eif.outputs.eif_pcr1 }}
      eif_pcr2: ${{ steps.eif.outputs.eif_pcr2 }}
    name: common-nitro-enclave/create-eif
    runs-on: 'ubuntu-latest'
    container:
      image: amazonlinux@sha256:5fe11d17e56571a26e20df3fa1493bdf9139fb9f2cb6d84fad13104c7b869217 # 2023.5.20240916.0
      volumes:
        - ${{ github.workspace }}/${{ inputs.working-directory }}/eif-output:/output
    steps:
      # Our self-hosted runner AMI doesn't ship jq which we need during EIF build
      - name: Install jq
        run: |
          sudo yum install jq

      - name: Set EIF output dir
        env:
          WORKSPACE: ${{ github.workspace }}
          WORKING_DIRECTORY: ${{ inputs.working-directory }}
        run: |
          echo "EIF_OUTPUT_DIR=${WORKSPACE}/${WORKING_DIRECTORY}/eif-output" >> "$GITHUB_ENV"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create EIF file
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IMAGE_NAME: ${{ inputs.image-name }}
          IMAGE_TAG: ${{ needs.determine-tag.outputs.docker_tag }}
        run: |
            dnf install aws-nitro-enclaves-cli aws-nitro-enclaves-cli-devel docker -y
            echo $GITHUB_TOKEN | docker login ghcr.io -u USERNAME --password-stdin # zizmor: ignore[template-injection]
            docker pull --platform=linux/amd64 ghcr.io/zama-ai/${IMAGE_NAME}:${IMAGE_TAG} # zizmor: ignore[template-injection]
            nitro-cli build-enclave --docker-uri ghcr.io/zama-ai/${IMAGE_NAME}:${IMAGE_TAG} --name ${IMAGE_NAME} --output-file /output/enclave.eif # zizmor: ignore[template-injection]
            nitro-cli describe-eif --eif-path /output/enclave.eif > /output/eif-info.txt

      - name: Export EIF measurements
        id: eif
        env:
          EIF_OUTPUT_DIR: ${{ env.EIF_OUTPUT_DIR }}
        run: |
          EIF_MEASUREMENT_PCR0=$(jq -r '.Measurements.PCR0' "$EIF_OUTPUT_DIR/eif-info.txt")
          EIF_MEASUREMENT_PCR1=$(jq -r '.Measurements.PCR1' "$EIF_OUTPUT_DIR/eif-info.txt")
          EIF_MEASUREMENT_PCR2=$(jq -r '.Measurements.PCR2' "$EIF_OUTPUT_DIR/eif-info.txt")
          {
            echo "eif_pcr0=${EIF_MEASUREMENT_PCR0}"
            echo "eif_pcr1=${EIF_MEASUREMENT_PCR1}"
            echo "eif_pcr2=${EIF_MEASUREMENT_PCR2}"
          } >> "$GITHUB_OUTPUT"

      - name: Upload EIF artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: eif-output
          path: ${{ env.EIF_OUTPUT_DIR }}
          retention-days: 1

  build-and-push-enclave:
    permissions:
      actions: read # Required to read workflow run information
      contents: write # Required to publish packages
      packages: write # Required to publish packages
      id-token: write # Required for OIDC token generation
    needs: [determine-tag, create-eif]
    outputs:
      image: ${{ steps.push.outputs.image }}
      digest: ${{ steps.push.outputs.digest }}
      enclave_pcr0: ${{ needs.create-eif.outputs.eif_pcr0 }}
      enclave_pcr1: ${{ needs.create-eif.outputs.eif_pcr1 }}
      enclave_pcr2: ${{ needs.create-eif.outputs.eif_pcr2 }}
    name: common-nitro-enclave/build-and-push-enclave
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout Project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Get Rust version
        env:
          GH_WORKSPACE: ${{ github.workspace }}
        run: |
          version="$(grep 'channel' "$GH_WORKSPACE/rust-toolchain.toml" | awk -F' = ' '{print $2}' | tr -d '"')"
          echo "RUST_IMAGE_VERSION=$version" >> "$GITHUB_ENV"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3.3.0
        with:
          driver-opts: version=28.0.4
          platforms: linux/amd64

      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Echo github event
        env:
          EVENT_NAME: ${{ github.event_name }}
        run: echo "Github event ==> $EVENT_NAME"

      - name: Current branch sha
        if: github.event_name != 'release'
        env:
          EVENT_NAME: ${{ github.event_name }}
          COMMIT_HASH: ${{ github.event.pull_request.head.sha || github.sha }}
        run: |
          if [[ "${EVENT_NAME}" == "schedule" ]]; then
            echo "DOCKER_TAG_IMAGE=nightly-$(git rev-parse --short "$COMMIT_HASH")" >> "$GITHUB_ENV"
          else
            echo "DOCKER_TAG_IMAGE=$(git rev-parse --short "$COMMIT_HASH")" >> "$GITHUB_ENV"
          fi

      - name: Current Tag
        if: github.event_name == 'release'
        env:
          REF_NAME: ${{ github.ref_name }}
        run: |
          echo "DOCKER_TAG_IMAGE=${REF_NAME}" >> "$GITHUB_ENV"

      - name: Set EIF output dir
        env:
          WORKSPACE: ${{ github.workspace }}
          WORKING_DIRECTORY: ${{ inputs.working-directory }}
        run: |
          echo "EIF_OUTPUT_DIR=${WORKSPACE}/${WORKING_DIRECTORY}/eif-output" >> "$GITHUB_ENV"

      - name: Download EIF artifacts
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5
        with:
          name: eif-output
          path: ${{ env.EIF_OUTPUT_DIR }}

      - name: Docker Build and Push Enclave Image
        id: push
        uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85 # v6.7.0
        with:
          context: .
          secrets: BLOCKCHAIN_ACTIONS_TOKEN=${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
          build-args: |
            IMAGE_NAME=ghcr.io/zama-ai/${{ inputs.image-name }}
            IMAGE_TAG=${{ needs.determine-tag.outputs.docker_tag }}
            RUST_IMAGE_VERSION=${{ env.RUST_IMAGE_VERSION }}
          build-contexts: eif=${{ env.EIF_OUTPUT_DIR }}
          file: ${{ inputs.docker-file-enclave }}
          push: ${{ inputs.push_image }}
          pull: false
          tags: |
            ghcr.io/zama-ai/${{ inputs.image-enclave-name }}:${{ needs.determine-tag.outputs.docker_tag }}
            ghcr.io/zama-ai/${{ inputs.image-enclave-name }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          labels: |
            zama.kms.version=${{ needs.determine-tag.outputs.docker_tag }}
            zama.kms.eif_pcr0=${{ needs.create-eif.outputs.eif_pcr0 }}
            zama.kms.eif_pcr1=${{ needs.create-eif.outputs.eif_pcr1 }}
            zama.kms.eif_pcr2=${{ needs.create-eif.outputs.eif_pcr2 }}

      - name: Export image name
        id: export-image
        env:
          IMAGE_NAME: ${{ inputs.image-name }}
          DOCKER_TAG: ${{ needs.determine-tag.outputs.docker_tag }}
          DIGEST: ${{ steps.push.outputs.digest }}
        run: |
          echo "image=ghcr.io/zama-ai/${IMAGE_NAME}:${DOCKER_TAG}" >> "${GITHUB_OUTPUT}"
          echo "digest=${DIGEST}" >> "$GITHUB_OUTPUT"

      ###########################################################
      # Release Part for EIF
      # EIF is only released on release events and added to the assets
      ###########################################################
      - name: Add eif-info.txt to release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.2.2
        with:
          files: |
            ${{ env.EIF_OUTPUT_DIR }}/eif-info.txt

  sign-image:
    permissions:
      actions: read # Required to read workflow run information
      contents: read # Required to read contents
      packages: write # Required to publish packages
      id-token: write # Required for OIDC token generation
    needs: [determine-tag, build-and-push-enclave]
    if: github.event_name == 'release'
    name: common-nitro-enclave/sign-image
    runs-on: 'ubuntu-latest'
    steps:
      # Needed to be able to pull some docker images for the simulator test
      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Sign image with Cosign
        env:
          IMAGE_NAME: ghcr.io/zama-ai/${{ inputs.image-enclave-name }}
          DOCKER_TAG: ${{ needs.determine-tag.outputs.docker_tag }}
          DIGEST: ${{ needs.build-and-push-enclave.outputs.digest }}
        run: |
          docker pull "${IMAGE_NAME}:${DOCKER_TAG}"
          cosign sign --yes --recursive=true "${IMAGE_NAME}@${DIGEST}"
