name: devspace

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Enter the tag name for the KMS deployment (e.g. latest-fegm)'
        required: true
        default: 'latest-vcluster'
      namespace:
        description: 'Enter the namespace for the KMS deployment'
        required: true
        default: 'kms-test-<username>'


jobs:
  devspace:
    runs-on: ubuntu-latest
    steps:
      # ======================================================================
      # TOOLING SETUP
      # ======================================================================
      - name: Setup tailscale
        uses: tailscale/github-action@84a3f23bb4d843bcf4da6cf824ec1be473daf4de # v3.2.3
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:${NAMESPACE}

      - name: Setup helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
          export PATH=$PATH:/usr/local/bin

      # ======================================================================
      # DEVSPACE SETUP
      # ======================================================================
      - name: Install DevSpace CLI
        uses: loft-sh/setup-devspace@main

      # ======================================================================
      # LOGIN TO DOCKER REGISTRIES
      # ======================================================================
      # Needed to be able to pull some docker images for the simulator test
      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: cgr.dev
          username: ${{ secrets.CGR_USERNAME }}
          password: ${{ secrets.CGR_PASSWORD }}

      # ======================================================================
      # RUN DEVSPACE
      # ======================================================================
      - name: Run DevSpace
        run: devspace dev --namespace ${{ inputs.namespace }} --tag ${{ inputs.tag_name }}