name: docker-build

on:
  #=======================================================
  schedule:
    - cron: '0 0 * * 1-5' # Runs at midnight UTC (1 AM CET) Monday-Friday
  #=======================================================
  release:
    types: [published]
  #=======================================================
  workflow_dispatch:
    inputs:
      testing:
        description: 'Launch performance testing'
        default: false
        required: true
        type: boolean
      deployment_type:
        description: 'Deployment type'
        required: true
        default: 'threshold'
        type: choice
        options:
          - 'threshold'
          - 'thresholdWithEnclave'
          - 'centralized'
          - 'centralizedWithEnclave'
  #=======================================================
  workflow_call:
    secrets:
      BLOCKCHAIN_ACTIONS_TOKEN:
        required: true
      ZWS_BOT_TOKEN:
        required: true
      TS_OAUTH_CLIENT_ID:
        required: true
      TS_OAUTH_SECRET:
        required: true
      AWS_ACCESS_KEY_S3_USER:
        required: true
      AWS_SECRET_KEY_S3_USER:
        required: true
      CGR_USERNAME:
        required: true
      CGR_PASSWORD:
        required: true
      SLAB_ACTION_TOKEN:
        required: true
      SLAB_BASE_URL:
        required: true
      JOB_SECRET:
        required: true
    outputs:
      image_tag:
        description: 'Docker Tag generated by this task'
        value: '${{ jobs.golden-image.outputs.image_tag }}'
      enclave_pcr0:
        description: 'Enclave PCR0 generated by this task'
        value: '${{ jobs.enclave.outputs.enclave_pcr0 }}'
      enclave_pcr1:
        description: 'Enclave PCR1 generated by this task'
        value: '${{ jobs.enclave.outputs.enclave_pcr1 }}'
      enclave_pcr2:
        description: 'Enclave PCR2 generated by this task'
        value: '${{ jobs.enclave.outputs.enclave_pcr2 }}'


permissions: {}

jobs:
  ############################################################################
  # Builds Docker image for base Rust Golden Image
  #
  golden-image:
    name: docker-build/golden-image (bpr)
    # needs:
    #   - start-amd64-runner
    uses: zama-ai/ci-templates/.github/workflows/common-docker.yml@6c72e3dbc894744c1e228fb165f4c4d657e475b6 # v1.0.1
    permissions:
      actions: read # Required to read workflow run information
      contents: read # Required to checkout repository code
      id-token: write # Required for OIDC authentication
      pull-requests: read # Required to read pull request information
      packages: write # Required to publish Docker images
      attestations: write # Required to create build attestations
    with:
      docker-file: './docker/base/Dockerfile'
      working-directory: './base'
      push_image: true
      image-name: 'kms/rust-golden-image'
      app-cache-dir: 'kms-base'
      use-cgr-secrets: true
      # runs-on-amd: ${{ needs.start-amd64-runner.outputs.label }}
      runs-on-amd: "runs-on=${{ github.run_id }}/runner=64cpu-linux-x64/spot=false/volume=200gb/extras=s3-cache"
      runs-on-arm: "runs-on=${{ github.run_id }}/runner=64cpu-linux-arm64/spot=false/volume=200gb/extras=s3-cache"
    secrets:
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
      AWS_ACCESS_KEY_S3_USER: ${{ secrets.AWS_ACCESS_KEY_S3_USER }}
      AWS_SECRET_KEY_S3_USER: ${{ secrets.AWS_SECRET_KEY_S3_USER }}
      CGR_USERNAME: ${{ secrets.CGR_USERNAME }}
      CGR_PASSWORD: ${{ secrets.CGR_PASSWORD }}

  ############################################################################
  # Builds Docker image for core-client
  #
  core-client:
    name: docker-build/core-client (bpr)
    needs:
      # - start-amd64-runner
      - golden-image
    uses: zama-ai/ci-templates/.github/workflows/common-docker.yml@6c72e3dbc894744c1e228fb165f4c4d657e475b6 # v1.0.1
    permissions:
      actions: read # Required to read workflow run information
      contents: read # Required to checkout repository code
      id-token: write # Required for OIDC authentication
      pull-requests: read # Required to read pull request information
      packages: write # Required to publish Docker images
      attestations: write # Required to create build attestations
    with:
      docker-file: './docker/core-client/Dockerfile'
      working-directory: './core-client'
      push_image: true
      image-name: 'kms/core-client'
      app-cache-dir: 'kms-core-client'
      use-cgr-secrets: true
      # runs-on-amd: ${{ needs.start-amd64-runner.outputs.label }}
      runs-on-amd: "runs-on=${{ github.run_id }}/runner=64cpu-linux-x64/spot=false/volume=200gb/extras=s3-cache"
      runs-on-arm: "runs-on=${{ github.run_id }}/runner=64cpu-linux-arm64/spot=false/volume=200gb/extras=s3-cache"
    secrets:
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
      AWS_ACCESS_KEY_S3_USER: ${{ secrets.AWS_ACCESS_KEY_S3_USER }}
      AWS_SECRET_KEY_S3_USER: ${{ secrets.AWS_SECRET_KEY_S3_USER }}
      CGR_USERNAME: ${{ secrets.CGR_USERNAME }}
      CGR_PASSWORD: ${{ secrets.CGR_PASSWORD }}

  ############################################################################
  # Builds the core service Docker image
  #
  core-service:
    name: docker-build/core-service (bpr)
    needs:
      # - start-amd64-runner
      - golden-image
    uses: zama-ai/ci-templates/.github/workflows/common-docker.yml@6c72e3dbc894744c1e228fb165f4c4d657e475b6 # v1.0.1
    permissions:
      actions: read # Required to read workflow run information
      contents: read # Required to checkout repository code
      id-token: write # Required for OIDC authentication
      pull-requests: read # Required to read pull request information
      packages: write # Required to publish Docker images
      attestations: write # Required to create build attestations
    with:
      docker-file: './docker/core/service/Dockerfile'
      working-directory: './core/service'
      push_image: true
      image-name: 'kms/core-service'
      app-cache-dir: 'kms'
      use-cgr-secrets: true
      # runs-on-amd: ${{ needs.start-amd64-runner.outputs.label }}
      runs-on-amd: "runs-on=${{ github.run_id }}/runner=64cpu-linux-x64/spot=false/volume=200gb/extras=s3-cache"
      runs-on-arm: "runs-on=${{ github.run_id }}/runner=64cpu-linux-arm64/spot=false/volume=200gb/extras=s3-cache"
    secrets:
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
      AWS_ACCESS_KEY_S3_USER: ${{ secrets.AWS_ACCESS_KEY_S3_USER }}
      AWS_SECRET_KEY_S3_USER: ${{ secrets.AWS_SECRET_KEY_S3_USER }}
      CGR_USERNAME: ${{ secrets.CGR_USERNAME }}
      CGR_PASSWORD: ${{ secrets.CGR_PASSWORD }}

  ############################################################################
  # Builds AWS Nitro Enclave image for secure execution
  #
  enclave:
    name: docker-build/core-service-enclave (bpr)
    needs:
      # - start-amd64-runner
      - core-service
    uses: ./.github/workflows/common-nitro-enclave.yml
    permissions:
      actions: read # Required to read workflow run information
      contents: write # Required to publish packages
      id-token: write # Required for OIDC token generation
      pull-requests: read # Required to read pull request information
      packages: write # Required to publish packages
      attestations: write # Required to write attestations
    with:
      docker-file-enclave: './docker/core/service/enclave.dockerfile'
      working-directory: './core/service'
      push_image: true
      image-name: 'kms/core-service'
      image-enclave-name: 'kms/core-service-enclave'
    secrets:
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
      CGR_USERNAME: ${{ secrets.CGR_USERNAME }}
      CGR_PASSWORD: ${{ secrets.CGR_PASSWORD }}

  ############################################################################
  # Launch performance testing with enclave nightly or manual dispatch
  ############################################################################
  performance-testing:
    name: docker-build/performance-testing
    needs:
      - core-client
      - core-service
      - enclave
    runs-on: ubuntu-latest
    if: github.event_name == 'schedule' || inputs.testing
    steps:
      - name: Launch performance testing
        env:
          GH_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
          DEPLOYMENT_TYPE: ${{ inputs.deployment_type || 'thresholdWithEnclave' }}
          KMS_CORE_IMAGE_TAG: ${{ needs.core-service.outputs.image_tag }}
          KMS_CORE_CLIENT_IMAGE_TAG: ${{ needs.core-client.outputs.image_tag }}
          BRANCH_NAME: ${{ github.ref }}
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            repos/zama-ai/kms-testing/dispatches \
            -f 'event_type=performance-testing' \
            -F "client_payload[tls]=true" \
            -F "client_payload[kms_branch]=${BRANCH_NAME}" \
            -F "client_payload[kms_chart_version]=repository" \
            -F "client_payload[deployment_type]=${DEPLOYMENT_TYPE}" \
            -F "client_payload[kms_core_image_tag]=${KMS_CORE_IMAGE_TAG}" \
            -F "client_payload[kms_core_client_image_tag]=${KMS_CORE_CLIENT_IMAGE_TAG}"

