name: "[PR] Helm Chart Lint"

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    name: "Lint Helm Chart"
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Lint
        uses: WyriHaximus/github-action-helm3@fc4ba26e75cf5d08182c6ce3b72623c8bfd7272b # v3.1.0
        with:
          exec: helm lint charts/*
