name: on-release-images

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      ref:
        type: string
        description: 'Branch, tag or SHA to generate the Docker images from. (Default main)'
        required: false
        default: 'main'

permissions: {} # No permissions needed at workflow level

jobs:
  docker-golden-image:
    name: on-release-images/docker-golden-image
    uses: zama-ai/ci-templates/.github/workflows/common-docker.yml@c9fc2ea0d7cc5df90178ba0c050a6644fcb34afc
    permissions:
      actions: read # Required to read workflow run information
      contents: read # Required to checkout repository code
      id-token: write # Required for OIDC authentication
      pull-requests: read # Required to read pull request information
      packages: write # Required to publish Docker images
      attestations: write # Required to create build attestations
    with:
      docker-file: "./docker/base/Dockerfile"
      working-directory: "./base"
      push_image: true
      image-name: 'kms/rust-golden-image'
      app-cache-dir: 'kms-base'
    secrets:
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
      AWS_ACCESS_KEY_S3_USER: ${{ secrets.AWS_ACCESS_KEY_S3_USER }}
      AWS_SECRET_KEY_S3_USER: ${{ secrets.AWS_SECRET_KEY_S3_USER }}

  docker-kms-core-client:
    name: on-release-images/docker-kms-core-client
    needs: docker-golden-image
    uses: zama-ai/ci-templates/.github/workflows/common-docker.yml@c9fc2ea0d7cc5df90178ba0c050a6644fcb34afc
    permissions:
      actions: read # Required to read workflow run information
      contents: read # Required to checkout repository code
      id-token: write # Required for OIDC authentication
      pull-requests: read # Required to read pull request information
      packages: write # Required to publish Docker images
      attestations: write # Required to create build attestations
    with:
      docker-file: "./docker/core-client/Dockerfile"
      working-directory: "./core-client"
      push_image: true
      image-name: 'kms/core-client'
      ref: ${{ inputs.ref || '' }}
      app-cache-dir: 'kms-core-client'
    secrets:
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
      AWS_ACCESS_KEY_S3_USER: ${{ secrets.AWS_ACCESS_KEY_S3_USER }}
      AWS_SECRET_KEY_S3_USER: ${{ secrets.AWS_SECRET_KEY_S3_USER }}

  docker-kms-service:
    name: on-release-images/docker-kms-service
    needs: docker-golden-image
    uses: ./.github/workflows/common-docker-big-instance.yml
    permissions:
      actions: read # Required to read workflow run information
      contents: read # Required to checkout repository code
      id-token: write # Required for OIDC authentication
      pull-requests: read # Required to read pull request information
      packages: write # Required to publish Docker images
      attestations: write # Required to create build attestations
    with:
      docker-file: "./docker/core/service/Dockerfile"
      working-directory: "./core/service"
      push_image: true
      image-name: 'kms/core-service'
      ref: ${{ inputs.ref || '' }}
      app-cache-dir: 'kms'
    secrets:
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
      AWS_ACCESS_KEY_S3_USER: ${{ secrets.AWS_ACCESS_KEY_S3_USER }}
      AWS_SECRET_KEY_S3_USER: ${{ secrets.AWS_SECRET_KEY_S3_USER }}
      SLAB_ACTION_TOKEN: ${{ secrets.SLAB_ACTION_TOKEN }}
      SLAB_BASE_URL: ${{ secrets.SLAB_BASE_URL }}
      JOB_SECRET: ${{ secrets.JOB_SECRET }}

  docker-nitro-enclave:
    name: on-release-images/docker-nitro-enclave
    needs:
      - docker-kms-service
    uses: ./.github/workflows/common-nitro-enclave.yml
    permissions:
      actions: read # Required to read workflow run information
      contents: write # Required to publish packages
      id-token: write # Required for OIDC token generation
      pull-requests: read # Required to read pull request information
      packages: write # Required to publish packages
      attestations: write # Required to write attestations
    with:
      docker-file-enclave: "./docker/core/service/enclave.dockerfile"
      working-directory: "./core/service"
      push_image: true
      image-name: 'kms/core-service'
      image-enclave-name: 'kms/core-service-enclave'
    secrets:
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
