name: release

on:
  workflow_dispatch:
    inputs:
      ref:
        type: string
        description: "Branch, tag or SHA to generate the release from. (Default main)"
        required: false
        default: "main"

permissions:
  contents: read

jobs:
  release:
    name: release/release
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.sem-release.outputs.new_release_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
          ref: ${{ inputs.ref }}

      - name: Semantic Release
        id: sem-release
        uses: cycjimmy/semantic-release-action@b1b432f13acb7768e0c8efdec416d363a57546f2 # v4.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}

  cargo-versions:
    name: release/cargo-versions
    uses: ./.github/workflows/common-release-workspace-cargo.yml
    needs:
      - release
    permissions:
      contents: write    # Push version updates to repository
      id-token: write    # Authenticate with cloud providers via OIDC
      packages: write    # Publish packages to registry
    with:
      version: ${{ needs.release.outputs.version }}
    secrets:
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
