name: workflow-pr-dockerfile

on:
  pull_request:
    paths:
      - '**.dockerfile'

concurrency:
  group: workflow-pr-dockerfile-${{ github.ref }}
  cancel-in-progress: ${{ github.base_ref != 'main' && !startsWith(github.base_ref, 'release/') }}

permissions:
  contents: read   # Read repository contents to check Dockerfiles
  packages: read   # Read package dependencies from registry

jobs:
    prepare-batch:
        name: workflow-pr-dockerfile/prepare-batch
        runs-on: ubuntu-latest
        outputs:
          DOCKERFILE_CHANGED: ${{ steps.list_dockerfile.outputs.DOCKERFILE_CHANGED }}
          LIST_DOCKERFILES: ${{ steps.list_dockerfile.outputs.LIST_DOCKERFILES }}

        steps:
          - name: Checkout parent Repo
            uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683    ## v4.2.2
            with:
              submodules: true
              token: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
              persist-credentials: true

          - name: Get changed product files
            id: list_changed_files
            uses: tj-actions/changed-files@4edd678ac3f81e2dc578756871e4d00c19191daf     ## v45.0.4
            with:
                files: |
                    **.dockerfile
                    **/Dockerfile

          - name: List all changed product files
            id: list_dockerfile
            env:
                ALL_CHANGED_FILES: ${{ steps.list_changed_files.outputs.all_changed_files }}
                ANY_CHANGED: ${{ steps.list_changed_files.outputs.any_changed }}
            run: |
                IFS=$'\n' # Set Internal Field Separator to newline
                for filepath in $ALL_CHANGED_FILES; do
                    echo "File changed: $filepath"
                done
                echo "LIST_DOCKERFILES=${ALL_CHANGED_FILES}" >> "$GITHUB_OUTPUT"
                echo "DOCKERFILE_CHANGED=${ANY_CHANGED}" >> "$GITHUB_OUTPUT"

    lint-dockerfile:
        name: workflow-pr-dockerfile/lint-dockerfile
        needs: prepare-batch
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683    ## v4.2.2
            with:
              persist-credentials: false

          - name: Lint All Dockerfiles (adapt find to suit your needs)
            env:
                LIST_DOCKERFILES: ${{ needs.prepare-batch.outputs.LIST_DOCKERFILES }}
            run: |
                curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin v0.19.2
                for filepath in $LIST_DOCKERFILES; do
                    echo "Linting $filepath"
                    trivy config "$filepath"
                done

    docker-scanning:
        name: workflow-pr-dockerfile/docker-scanning
        uses: zama-ai/security-hub/.github/workflows/03-sca-trivy-docker-kms-callable-wf.yml@a3df5139ef24c0c917472cdf558a2086caa2a874
        secrets:
          BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}